@import "tailwindcss";
@import "@nuxt/ui";

/* EXAMPLE THEME */
@theme {
	--font-sans: "Baskervville", sans-serif;
	--font-secondary: "Montserrat";

	--text-title: 8rem;
	--text-h3: 4.188rem;
	--text-h4: 3.188rem;
	--text-h5: 2.375rem;
	--text-xl: 1.75rem;
	--text-lg: 1.312rem;
	--text-base: 1rem;

	--color-lightWhite: #fefefe;
	--color-white: #f3f1f1;
	--color-beige: #d7e2db;
	--color-green: #0c261d;
	--color-darkGreen: #091d16;
	--color-darkerGreen: #040d0a;
}
